header{
    position:relative;
    margin:auto;
    text-align:center;
    padding:5px;
    font-size: 25;
    background:white;
   
}

nav{
    position:relative;
    margin:auto;
    width:100%;
    height:auto;
    background:black;
}
nav ul{
    position:relative;
    margin:auto;
    width:50%;
    text-align:center;
   
}
nav ul li{
    display:inline-block;
    width:24%;
    line-height:50px;
    list-style:none;
}
nav ul li a{
    color:white;
    text-decoration:none;
}

section{
    position:relative;
    height:1500;
    padding:5px;
    background:black;
}

article{
    position: relative;
    background:black;
    padding: 20px;
}



<style>
#Auriculares1 {position:absolute; bottom:20px}
#Auriculares1 {position:absolute; right:20%}
</style>

<style>
#Auriculares2 {position:absolute; bottom:20px}
#Auriculares2 {position:absolute; right:45%}
</style>


<style>
#Auriculares3 {position:absolute; bottom:20px}
#Auriculares3 {position:absolute; right:70%}
</style>